@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textEllipse {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.drawerOpenTwo {
  padding-right: 15px;
  position: relative;
  overflow: hidden;
}

.drawerSiginHead {
  height: 120px;
  width: 100%;
  position: relative;
}

.drawerSiginInput {
  border: 1px solid #d4d5d9;
  padding: 0;
  display: block;
  position: relative;
  transform: translateZ(0);
  margin-bottom: 20px;
}
.phoneInput {
  background-color: transparent;
  line-height: normal;
  border: none;
  outline: none;
  height: 70px;
  width: 100%;
  font-size: 17px;
  margin: 0;
  padding: 22px 20px 20px;
  box-shadow: none;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.policySection {
  font-size: 12px;
  color: #686b78;
  margin-top: 6px;
  font-weight: 500;
}
.policySection a {
  color: #282c3f;
}
.loginBtn {
  width: 100%;
  padding: 11px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #fc8019;
  margin-bottom: 4px;
  font-weight: 600;
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}
.loginBtn:hover {
  position: relative;
  box-shadow: 0 4px 14px #d4d5d9;
}

.carouselContainer::-webkit-scrollbar,
.offerContainer::-webkit-scrollbar,
.topPicks::-webkit-scrollbar,
.searchBody::-webkit-scrollbar {
  display: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}
.slider:before {
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.4s;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #cccccc;
}
input:checked + .slider {
  background-color: rgb(0, 128, 0);
}
input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
  border: 2px solid rgb(0, 128, 0);
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 400px;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

#slider-1 {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  transition: all 2s ease-in-out;
  column-gap: 12px;
  display: flex;
  overflow-x: scroll;
}

#slider-2,
#slider-3 {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  transition: all 2s ease-in-out;
  column-gap: 12px;
  display: flex;
  overflow-x: scroll;
}

.container-card_shimmer {
  width: 312px;
  display: flex;
  cursor: pointer;
  gap: 12px;
  justify-content: center;
  align-items: self-start;
  padding: 0;
  flex-direction: column;
  /* height: 310px; */
}

.container-card_shimmer1 {
  /* width: 312px; */
  display: flex;
  cursor: pointer;
  gap: 0px;
  justify-content: center;
  align-items: self-start;
  padding: 0;
  flex-direction: column;
  /* height: 310px; */
}

.rest_img {
  border-bottom: 2px solid red;
}

.rest_info_card {
  text-align: left;
  width: 100%;
}

.wrapper_shimmer {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

.content-line {
  height: 15px;
  width: 80%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.name_of_hotel_shimmer {
  height: 24px;
  width: 45%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.activeSet {
  stroke: #60b246;
  fill: #60b246;
}
.cartCountActive {
  color: #ffffff;
}
.cartArrow {
  position: absolute;
  top: -12px;
  right: 15%;
  z-index: 2;
}
.cartArrow::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 5px;
  box-shadow: -3px -4px 9px -4px rgba(40, 44, 63, 0.5);
  background-color: #fff;
  border: 2px solid #fc8019;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotate(45deg);
}
.cartItem:hover .cartMenu {
  visibility: visible;
  animation: cartMenuAmv 0.3s 0.4s ease-out forwards;
}
@keyframes cartMenuAmv {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(40, 44, 62, 0.6);
  z-index: 1000;
  top: 0;
  right: 0;
}

.stickyBottomMenuContainer {
  max-width: 800px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
.stickyBottomMenu {
  height: 48px;
  overflow: hidden;
  z-index: 3;
  transition: transform 0.25s ease;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 100%, 0);
  contain: content;
  position: relative;
}
.stickyBottomMenuVisible {
  transform: translateZ(0);
}
.stickyMenuStyleContainer {
  height: 48px;
  background: #60b246;
  color: #fff;
  z-index: 2;
  position: relative;
  contain: content;
  pointer-events: auto;
  width: 100%;
  border: none;
  cursor: pointer;
}
.stickyMenuInnerBody {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}
.bottomMenuCartImg {
  margin-left: 8px;
}
.bottomMenuRight {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.restMenuBtnContainer {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  pointer-events: auto;
}
.restMenuBtnInnerContainer {
  height: 64px;
  z-index: 1;
  transition: transform 0.25s ease;
  will-change: transform;
  backface-visibility: hidden;
  contain: content;
  position: relative;
  transform: translate3d(0, 48px, 0);
}
.restMenuVisible {
  transform: translateX(0);
}
.restMenuBtn {
  width: 180px;
  height: 40px;
  border-radius: 30px;
  background: #5d8ed5;
  color: #fff;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3),
    0 2px 1px 0 rgba(93, 141, 213, 0.2);
  padding: 14px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  will-change: transform;
  backface-visibility: hidden;
  transform: scaleX(1);
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}

.menu-drawer {
  max-height: 320px;
  width: 500px;
  z-index: 1001;
  background: rgb(255, 255, 255);
  transition: transform 0.3s ease-out 0s;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 100%);
  overflow: auto;
}
.menu-drawer.open {
  transform: translate(50%, 0%);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 0px 7px;
  transition: transform 0.3s ease-out 0s;
}
.menuOpen {
  overflow: hidden;
  position: relative;
  padding-right: 15px;
}
@media (width<=768px) {
  .menuOpen {
    overflow: hidden;
    position: relative;
    padding-right: 0;
  }
}
.menuNavContainer {
  padding: 26px 24px 26px 40px;
  overflow-y: auto;
}
.menuNavItems {
  margin-bottom: 20px;
  color: #3d4152;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-between;
  cursor: pointer;
}
.drawerLoginHead {
  height: 120px;
  width: 100%;
  position: relative;
}

/* cart */

.cartContainer {
  background: #e9ecee;
}

.cartItemContainer {
  max-height: calc(100vh - 290px);
  display: flex;
  background: #fff;
  flex-direction: column;
  overflow-x: auto;
}
.cartInnerContainer {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 auto; */
  text-align: center;
  background: #fff;
}
.cartFilled {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.cartBGImage {
  width: 271px;
  height: 256px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.cartMsg {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #535665;
}
.cartDesc {
  margin-top: 8px;
  font-size: 14px;
  color: #7e808c;
}

.goHomeBtn {
  margin-top: 30px;
  padding: 11px 20px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 15px;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}

.checkOutSection {
  display: flex;
  width: 385px;
  flex-direction: column;
}
.cartRestroDetails {
  cursor: pointer;
  padding: 20px 30px;
  background: #fff;
  display: flex;
  min-height: 90px;
  text-align: left;
  border: none;
  width: 100%;
}
.cartRestroImgBox {
  width: 50px;
  height: 50px;
  position: relative;
}
.cartRestroImg {
  transition: opacity 0.3s ease-out;
}
.cartRestroDesc {
  margin-left: 14px;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  overflow: hidden;
  min-height: 50px;
}
.cartRestroName {
  font-size: 17px;
  line-height: 19px;
  color: #282c3f;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cartRestroArea {
  font-size: 13px;
  line-height: 14px;
  color: #686b78;
}
.cartItemSection {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 30px;
  width: 366px;
  padding-bottom: 0 !important;
}

.cartItems {
  margin: 0 -16px;
  padding: 0 16px;
  position: relative;
}
.cartItemInner {
  padding: 10px 0;
  display: flex;
  position: relative;
  align-items: center;
}
.cartItemName {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}
.cartItemName div {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 14px;
}
.cartItemRateSection {
  width: 120px;
  float: right;
  display: flex;
  align-items: center;
}
.cartItemPrice {
  font-size: 13px;
  color: #535665;
  text-align: right;
  width: 60px;
}
.cartItemBtn {
  height: 30px;
  width: 70px;
  border-radius: none;
  cursor: pointer;
  color: #60b246;
  background-color: #fff;
  border: 1px solid #d4d5d9;
  display: flex;
}
.beforeCheckContainer {
  background: #fff;
  padding: 8px 30px;
  position: relative;
  display: flex;
}
.beforeCheckInner {
  border: 1px solid #a9abb2;
  display: flex;
  padding: 4px 10px;
  font-size: 14px;
  cursor: pointer;
}
.beforeCheckInner:hover {
  box-shadow: 0 3px 8px #e9e9eb;
}
.checkBoxBody {
  overflow: hidden;
}
.beforeCheckBox {
  margin-top: 1px;
  margin-right: 9px;
}
.checkBoxInput {
  cursor: pointer;
}
.checkBoxInnerHeader {
  font-weight: 500;
  color: #3e4152;
}
.checkBoxInnerBody {
  opacity: 0.6;
  color: #282c3f;
}
.cartCostSection {
  background: #fff;
  padding: 8px 30px;
  display: flex;
  flex-direction: column;
}
.billDetails {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
  color: #282c3f;
}
.costnDelSection {
  font-size: 13px;
  color: #686b78;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.costnDelSection + .costnDelSection {
  margin-top: 10px;
}
.otherCharges {
  border-bottom: 1px solid #e9e9eb;
  margin: 17px 0 15px;
}
.totalPayoutSec {
  width: 100%;
  background: #fff;
  height: 60px;
  min-height: 60px;
  display: flex;
  font-weight: 600;
  color: #282c3f;
  padding: 5px 30px;
}
.totalPayoutInner {
  margin: 0 auto;
  width: 100%;
  border-top: 2px solid #282c3f;
  height: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.addBtn {
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
.itemCounter {
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}
.plusItemBtn {
  animation: 0.2s ease;
  font-size: 20px;
}
.plusItemBtn:hover {
  transform: scale3d(1.2, 1.2, 1);
}
.minusItemBtn {
  color: #bebfc5;
  font-size: 20px;
}
.errorPopupContainer {
  position: fixed;
  bottom: 0;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  z-index: 10002;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;
  pointer-events: none;
}
.errorPopupShow {
  transform: translateY(-30px) !important;
  opacity: 1;
}
.errorPopupBox {
  display: table;
  max-width: 400px;
  padding: 0;
  margin: 0 auto;
  background: #3d4152;
  pointer-events: auto;
  color: #fff;
}
.errorPopupInner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  box-shadow: 0 3px 15px 0 rgba(40, 44, 63, 0.3);
  min-height: 50px;
}
.errorPopup {
  flex: 1;
}
.errorPopupHeader {
  font-weight: 500;
}
.errorPopupDesc {
  font-size: 12px;
  margin-top: 3px;
}

.errorcontainer {
  position: fixed;
  bottom: 0;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  z-index: 10002;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;
  pointer-events: none;
}

.errorpopupcontainer {
  display: table;
  max-width: 400px;
  padding: 0;
  margin: 0 auto;
  background: #FF3131;
  pointer-events: auto;
  color: #fff;
}

.errorpopupouter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  box-shadow: 0 3px 15px 0 rgba(40, 44, 63, 0.3);
  min-height: 50px;
}

.errorpopupinner{
  flex: 1;
}

.showerror{
  transform: translateY(-30px) !important;
  opacity: 1;
}